<!-- template is html code -->

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

<!-- ------------Data binding---------- -->
<!-- passing data from component to html and vice virsa -->

<!-- Interpolation -->
<!-- <p>{{title}}</p> -->
<!-- <p>value from chid b {{fromChild}}</p> -->
<!-- property binding -->
<!-- <input type="text" [value]="title"> -->

<!-- Event binding -->
<!-- <button (click)="testing()" >Click</button> -->

<!-- two way binding -->
<!-- <input type="text" [(ngModel)]="title"> -->

<!-- ------------End Data Binding----------- -->

<!-- -------------Directives---------------- -->

<!-- Angular template are dynamic, when angular render. 
     it transform DOM according to instruction given by directive 
-->
<!-- structural directive (start with *) -->
<!-- alter layout by adding, removing and replacing element in DOM -->
<!-- <p *ngIf="isData" >{{title}}</p>
<div *ngFor="let item of list">
  <p>{{title}}</p>
</div> -->

<!-- attribute directive -->
<!-- alter the appearance or behaviour of current element -->

<!-- [(ngModel)]="title" -->
<!-- [ngClass]="{'active': ifLevel}" apply whole class base on condition -->
<!-- [ngStyle]="{'background-color': ifLevel ? 'green' : 'red'}" set individual property -->

<!-- -------------------Directives-------------------- -->

  <!-- -------------child component-------------------- -->
  <!-- parent to child --- property binding -->
  <!-- child to parent --- event binding -->

  <!-- pass data from parent to child use @Input() decorator in child component -->
  <!-- pass data from child to parent use @Output() decorator in child component -->

  <!-- parent to child -->
  <!-- custom property binding for passing data from parent to child -->
  <!-- <app-child-a [strValue]="title"></app-child-a>  -->

  <!-- child to parent -->
  <!-- custom event binding to fetch data from child to parent -->
  <!-- <app-child-b (strValue)="onClick($event)"></app-child-b> -->

  <!-- <p>router outlet</p> -->
  
  <router-outlet></router-outlet>
<!-- ------------------End----------------------------- -->

<!-- ------------------pipes----------------------------- -->

<!-- pipes take input value and transform into desired output ad display in html -->
<!-- most of time we use pipes in html -->

<!-- types of pipe -->
<!-- 2 types of pipe => pure and impure -->

<!-- pure pipes => return the same output for the same input -->
<!--  e.g captalize pipe captalize same imput string with same output -->

<!-- impure pipes => return the different output for the same input -->
<!--  pure: false; pass this as property in @pipe({}) decorator object -->
<!-- e.g: pipe sort get same imput array values randomly always return different output -->

<!-- ways to use pipes => built in pipes, custom pipes, parametrized pipe -->

<!-- built in pipes -->
 <!-- {{pipeDemo1 | upercase }}  transform input to all upercase letter -->
 <!-- {{pipeDemo2 | date }}  format input value as date string -->
 <!-- {{pipeDemo3 | currency }}  format input value as currency string -->
 <!-- {{pipeDemo4 | json }}  format input value as json string -->

 <!-- custom pipe -->
 <!-- go to prefix custom pipe file -->
 <!-- <p>{{ value | prefix }}</p> -->

 <!-- parametrized pipe -->
<!-- pipe can also take parameters used to cofigure the behavior of pipe -->
<!-- <p>{{ value | suffix:' Suffix' }}</p> -->
<!-- transform(value: string, param: string): string { -->

  <!-- multiple pipes in single statement -->
  <!-- {{ myDate | date:'shortDate' | uppercase }} -->

<!-- ------------------End----------------------------- -->



</body>
</html>